/* https://colorhunt.co/palette/f6f1f1afd3e219a7ce146c94 */

/*
#F6F1F1
#AFD3E2
#19A7CE
#146C94
*/
:root {
  --blanc: #F6F1F1;
  --bleu-pastel: #c8efff;
  --bleu-clair: #19A7CE;
  --bleu-clair-vibrant: #2ad1ff;
  --bleu-fonce: #146C94;
  --gris:#9facb1;
}

* {
    margin: 0;
    padding: 0;
}
    
html {
    margin: 0;
    background-color: white;
    width:100vw;
    max-width: 100%;
    overflow-x: hidden;
    
}
    
body {
    margin: 0;
    width:100vw;
    font-family: Poppins;
    
}



@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-extraBold;
    src: url(fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-semiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

#navbar{
    display: flex;
    flex-direction: row;

    
    
    align-items: center;
    column-gap: 5%;
    background-color: white;
    /* padding: 5px 5px 5px 5px; */

    height: 50px;
    width: 100vw;

    position: fixed;
    top: 0;

    z-index: 3;
}

#logo{
    margin-top: 5px;
    max-width: 60px;
    max-height: 60px;
    margin-left: 10vw;

    
}

#sous-navbar{
    background-color: var(--bleu-clair-vibrant);
    height: 3px;
    width: 100%;
    margin-bottom: 50px;

    top: 50px;
    position: fixed;

    box-shadow: 0px 0px 30px 0.5px  var(--bleu-clair-vibrant) ;

    z-index: 2;
}

.lien_nav{
    max-width: 100%;
    max-height: 100%;

    color: var(--bleu-clair-vibrant);
    font-family: Poppins-Bold;
    text-decoration: none;
    

    transition:all 0.1s linear;
}

.lien_nav:hover{ 
   color: var(--bleu-fonce);
}

.texte-intro{
    color: var(--bleu-fonce);
    font-family: Poppins-SemiBold;
    font-size: 6em;
    line-height: 0.8em;
    margin-bottom: 100px;
    margin-top:50px;
    
    
}

#texte-intro-fort{
    color: var(--bleu-clair-vibrant);
    font-family: Poppins-SemiBold;
}

#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#photos{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.portrait{
    max-height: 250px;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 15px;
}

.portrait:hover{
    transform: scale(110%);
    box-shadow: 0px 0px 30px 0.5px  var(--bleu-clair-vibrant) ;
}

.sous-portrait{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: poppins-semibold;
    color: var(--bleu-clair-vibrant);
}

#reserver{
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline:  3px solid var(--bleu-clair-vibrant);

}

.titre{
    font-size: 25px;
    margin-bottom: 20px;
    color:white;
    
}

.colonne{
    color:var(--bleu-fonce);
    font-family: Poppins-semiBold;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-resa{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#pic-resa{
    width: 500px;
    max-height: 100%;
    padding: 0;

}

.input-resa{
    width: 70%;
    margin-left: 20px;
    margin: 10px 0 10px 0;
    border: none;
    font-family: Poppins-semiBold;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}

.input-resa:focus{
    outline: none;
    border: none;
    box-shadow: none;
   
}

.button{
    padding: 10px 30px 10px 30px;
    color: white;
    border: none;
    font-family: Poppins-semiBold;
    font-size: 20px;
    border-radius: 30px;
    background-color: var(--bleu-clair-vibrant);
    cursor: pointer;
    margin-top: 20px;
    outline: var(--bleu-clair-vibrant) 5px;

    transition:all 0.05s linear;
}

.button:hover{
    background-color: white;
    color: var(--bleu-clair-vibrant)
}

#btn-alt{

    width: 200px;
    align-self: center;
    transition: 0.1s linear;
}

#btn-alt:hover{
    
    outline:  3px solid var(--bleu-clair-vibrant);
    transform: scale(110%);
}

h2{
    font-family: Poppins-extraBold;
}

h3{
    color: var(--bleu-clair-vibrant);
    font-size: 30px;
    margin-bottom: 20px;
}

#acheter{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 15%;
    background-color: white;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#buy{
    
    display: flex;
    flex-direction: column;
}

#buy p{
    text-align: right;
}

.texte-buy{
    font-size: 50px;
    color:var(--bleu-fonce);
    font-family: Poppins-semibold;
    line-height: 1em;
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

#titre-buy{
    color:var(--bleu-clair-vibrant);
}

#img-beluga{
    height: 600px;
    width: auto;
    transition: 0.3s ;
    cursor: pointer;
}

#img-beluga:hover{
    transform: scale(110%);
}



#titre-abt{
    font-family: poppins-bold;
    color: var(--bleu-clair-vibrant);
    font-size: 50px;
}
#apropos{
    background-color: var(--bleu-pastel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 10% 0 10%;
    outline:  10px solid var(--bleu-pastel);
    padding-bottom: 200px;
}

#container-abt{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
}

#txt-abt{
    display: flex;
    flex-direction: column;
}

#txt-abt p{
    color: var(--bleu-fonce);
    font-family: poppins-semibold;
}

#img-abt{
    height: 400px;
    width: auto;
}


